:host {
  display: block;
  background-color: #e0f7fa;
  height: 100vh;
}

#productPage-body {
  display: flex;
  background-color: green;
  padding-top: 24px;
}

#body-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: lightgreen;
}

#body-right {
  width: 60%;
  background-color: lightblue;
}

.product-image {
  border-radius: 50%;
  max-width: 50%;
  margin-bottom: 26px;
}

.tip_text {
  width: 50%;
  padding: 10px;
  background: none;
  text-align: center;
  letter-spacing: 5px;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
}
