:host {
  display: block;
  min-height: 100vh;
  background-color: #e1f2dd;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  width: 100%;
}

.product-image {
  border-radius: 50%;
  width: 80%;
}

.image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  max-width: 20%;
  justify-items: center;
  position: relative;
  margin-bottom: 24px;
}

.image-code {
  position: absolute;
  width: 80%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background: none;
}

@media (max-width: 1000px) {
  .image-container {
    max-width: 33.33333333%;
    justify-content: center;
  }

  .product-image, .image-code {
    width: 60%;
  }
}

