:host {
  display: block;
  background-color: #FFFAE6;
  min-height: 100vh;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-card {
  background: none;
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  border: 5px solid mediumseagreen;
}

mat-card-content {
  font-size: 24px;
  font-weight: 700;
  padding: 0;
  text-align: center;
  background: none;
}
