:host {
  display: block;
  background-color: #f9cbbd; // soft peachy pink
min-height: 100vh;
  padding: 24px 16px;
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.category-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category-card {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  mat-card-header {
    font-weight: 700;
    font-size: 18px;
    padding: 0;
    margin-bottom: 4px;
  }

  mat-card-content {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
  }
}
